# Python as calculator

In [1]:
1+2

3

In [2]:
5-2

3

In [3]:
10/3

3.3333333333333335

In [7]:
12%5 #remainder

2

In [5]:
12//5 #quotient

2

In [6]:
5**2 #power

25

In [8]:
# Variables in Python

# Variables in Python

In [9]:
x = 10 #first check from right side i.e if the value given is valid or not then it will assigned to x where x called as variables

In [10]:
y = 10 #both x and y will stored in the same memory which is not in other programming language

In [11]:
id(x)

4368158504

In [12]:
id(y)

4368158504

In [13]:
x = x + 1

In [14]:
id(x)

4368158536

In [16]:
x = 10
y =20
x,y,x = x+1, x, 10*x

In [17]:
x

100

In [18]:
y

10

In [19]:
x = 10
y = 20-x
y, x = x+y, x-y

In [20]:
x

0

In [21]:
y

20

In [23]:
#2 rules     1. the first character of the variable should be alphabet or underscore  2. 2nd character can be alphabet, _ or numbers

# datatype and Container

In [24]:
# int, str, float, boolean
# list, tuple, set, dictionary

In [25]:
x = 10.0

In [26]:
type(x)

float

In [27]:
y = 10

In [28]:
type(y)

int

In [29]:
# here both x and y values are same however their types are differentt and they will be stored in differnt memories

In [30]:
x == y

True

In [31]:
type(x) == type(y)

False

In [32]:
x = 10.6
x = int(x)

In [33]:
x

10

In [34]:
x = float(x)

In [35]:
x

10.0

In [36]:
# str

In [37]:
x = "python"
y = 'python'
z = '''python'''

In [38]:
x == y

True

In [39]:
y == z

True

In [40]:
id(x) == id(z)

True

In [41]:
z = '''python is a programming 
language'''

In [42]:
z

'python is a programming \nlanguage'

In [43]:
# indide the doulbe code, i can use single code however doube code can't be used inside it and the same goes to the single  code too

In [45]:
x = "mom"
x == x[::-1]

True

In [46]:
x+x

'mommom'

In [47]:
x = "python" 
y = "class"
x + " " + y  # here the + will concatenate the two values

'python class'

In [49]:
x * 2 # * in str replicate the two

'pythonpython'

In [50]:
name = "my name is joram yam"

In [51]:
name.title()

'My Name Is Joram Yam'

In [52]:
name.capitalize()

'My name is joram yam'

In [53]:
name.upper()

'MY NAME IS JORAM YAM'

In [54]:
name.lower()

'my name is joram yam'

In [57]:
x[0] # python starts its length from 0 i.e If i want the first character then I have call from th 0

'p'

In [56]:
x[1] #second charcater

'y'

In [58]:
x.find("h")

3

In [62]:
x.find("k") #-1 here represent that the char is not present
x.index("k")  # here both find() & index() works same however if the char is not present then find() will give -1 as an output and index() will show error

ValueError: substring not found

In [69]:
x = x.replace("p", "K")

In [70]:
x

'Kython'

In [71]:
x.isalpha() #check if all the char is letter or not

True

In [73]:
x.isalnum() # check if all the char is either letters or numeric.

True

In [74]:
True == 1

True

In [75]:
False == 0

True

In [76]:
True - False + 10

11

In [78]:
bool(10) # anything non-zero will be true and 0 will be false

True

In [79]:
bool("")

False

In [80]:
bool("python")

True